<form action="/gen" method="post">

<p><label for="clase">Class name plural. (ex: dogs )</label></p>
<p><input type="text" name="clase" id=""  /></p>



<p><label for="clase">Class name Singular ( ex: dog )</label></p>
<p><input type="text" name="clase_s" id=""  /></p>


<p>
<label for="clase">fields (comma separated ex: name, lastname, description)</label></p>
<p><textarea name="fields"></textarea>
</p>

<p>
<button type="submit">ok!</button>
</p>


</form>